//shadows
$box-shadow-container: 1px 2px 5px rgba($base-black, 0.4);
$box-shadow-base: 0 0 5px 3px rgba(0, 0, 0, 0.555);
$box-shadow-hover: 0 0 5px 3px rgb(0, 0, 0, 0.855);
$text-shadow-hover: 
    0.2px 0.2px 1px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 1px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 1px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 1px rgba(0, 0, 0, 0.355);
$transition-hover: 0.3s ease;

// font-size desktop
$base-font-size-desc: 16px;
$font-size-h1-desc: 44px;
$font-size-h2-desc: 32px;

// font-size tablet and mobile
$base-font-size-mobile: 14px;
$font-size-h1-mobile: 32px;
$font-size-h2-mobile: 28px;

// font-size other
$font-size-medium-desc: 20px;
$font-size-medium-mobile: 16px;

// font-weight
$base-font-weight: 400;
$base-font-weight-strong: 700;