$box-shadow-hover: 0 0 5px 3px rgb(0, 0, 0, 0.855);
$text-shadow-hover: 
    0.2px 0.2px 1px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 1px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 1px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 1px rgba(0, 0, 0, 0.355);
$transition-hover: 0.3s ease;

/* $font-size-navigation: 10px;
$font-size-categories-books: 12px;
$font-size-categories-books-hover: 12px;

$font-size-book-info: 10px;
$font-size-book-title: 16px;
$font-size-logIn-title: 16px;
$font-size-book-price: 13px;
$font-size-btn-big: 14px;
$font-size-btn-small: 8px; */