$font-size-navigation: 10px;
$font-size-categories-books: 12px;
$font-size-categories-books-hover: 12px;

$font-size-book-info: 10px;
$font-size-book-title: 16px;
$font-size-logIn-title: 16px;
$font-size-book-price: 13px;
$font-size-btn-big: 14px;
$font-size-btn-small: 8px;