@import "/src/styles/_colors";
@import "/src/styles/_variables";

.field {
    font-weight: 700;
    font-size: 12px;
    align-self: center;

    .input {
        margin: 10px 0 10px 0;
        padding: 10px;
        outline: none;
        max-width: 176px;
        min-height: 35px;
        border: 1px solid rgba($base-black, 0.55);
        border-radius: 7.5px;
        transition: $transition-hover;

        &::placeholder {
            opacity: 0.7;
        }

        &:focus {
            border-color: rgba(0, 0, 0, 0.355);
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.355);
        }
    }

    input:valid {
        box-shadow: 0 0 0 2px $valid-blue;
        border: 1px solid rgba($base-black, 0.255);
        background: rgba($valid-blue, 0.155);
    }
}

@media (max-width: 767px) {

    .field {

        .input {
            margin: 5px 0 8px 0;
            max-width: 140px;
        }
    }
}