@import "/src/styles/_colors";
@import "/src/styles/_variables";

.title {
    font-size: $font-size-h1-desc;
    font-weight: $base-font-weight-strong;
    margin-bottom: 50px;
}

.buttonPanel {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
}

.info {
    margin-bottom: 50px;
}

.textDecor {
    font-size: 18px;
    font-weight: $base-font-weight-strong;
}

@media (max-width: 768px) {

    .title {
        font-size: $font-size-h1-mobile;
    }
    
}