@import "/src/styles/_colors";
@import "/src/styles/_variables";

.product {

    .productTitle {
        font-size: $font-size-h1-desc;
        font-weight: $base-font-weight-strong;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {

    .product {

        .productTitle {
            font-size: $font-size-h1-mobile;
        }
    }
}