@import "/src/styles/_colors";
@import "/src/styles/_variables";

.title {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 50px;
}

.textDecor {
    font-size: 48px;
    font-weight: 900;
}

@media (max-width: 768px) {

    .title {
        font-size: 32px;
    }

    .textDecor {
        font-size: 36px;
    }
    
}