<form action="authenticate" method="post" class="authenticate">
    <p class="field">
        <label for="username" class="label">Username:</label>
        <input id="username" class="input" type="text" name="username" required>
    </p>

    <p class="field">
        <label for="password" class="label">Password:</label>
        <input id="password" class="input" type="password" name="password" required>
    </p>

    <button type="submit" class="button button-black">Login</button>
</form>