<h1>
    Create new product
</h1>
<form action="create-product" method="post" class="product-create-form">
    <div class="product-create-fields">
        <div class="field">
            <label for="item-title" class="label">Title:</label>
            <input id="item-title" class="input" type="text" name="title" />
        </div>

        <div class="field">
            <label for="item-description" class="label">Description:</label>
            <textarea id="item-description" class="textarea" rows="3" name="description"></textarea>
        </div>

        <div class="field">
            <label for="item-price" class="label">Price:</label>
            <input id="item-price" class="input" type="text" name="price" />
        </div>
    </div>

    <div class="product-create-footer">
        <button type="submit" class="button button-black">Create</button>
    </div>
</form>