@import "/src/styles/_colors";
@import "/src/styles/_variables";

.commentTitle {
    margin-bottom: 5px;
}

.commentAuthor {
    margin-bottom: 15px;
}
.commentLabel {
    font-weight: $base-font-weight-strong;
}