@import "/src/styles/_colors";
@import "/src/styles/_variables";

.productCard {
    width: 100%;
    padding: 30px;
    background: $base-gray;
    border-radius: 15px;
    box-shadow: $box-shadow-container;

    display: flex;
    gap: 35px;
    margin-bottom: 50px;

    .blockImages {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        max-width: 250px;

        .productThumbnail {
            display: flex;
            min-width: 250px;
            min-height: 250px;
            max-width: 250px;
            max-height: 250px;
            border: 1px solid $base-black;
            box-shadow: $box-shadow-base;

            img {
                width: 100%;
                height: 100%;
                background: $background-placeholder-img;
                object-fit: cover;
            }
        }

        .productImages {
            display: flex;
            column-gap: 5px;
            overflow-x: auto;
            overflow-y: hidden;

            .productImage {
                min-width: 50px;
                height: 50px;
                margin-bottom: 5px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        font-size: $font-size-medium-desc;
        width: 100%;
    
        .productLabel {
            font-weight: $base-font-weight-strong;
        }

        .productPrice {
            font-weight: $base-font-weight-strong;
        }

        .similarProducts {
            border-top: 1px solid $base-black;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 15px;
            /* background: $base-white;
            box-shadow: $box-shadow-container;
            border-radius: 15px; */

            .similarTitle {
                font-weight: $base-font-weight-strong;
            }

            .similarProductsList {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
                font-size: $base-font-size-desc;
                gap: 15px;

                .similarProductsInfo {
                    padding: 3px;
                    background: $base-white;
                    border-radius: 5px;
                    box-shadow: $box-shadow-container;
                    cursor: pointer;

                    .similarProductTitle {
                        font-weight: $base-font-weight-strong;
                        transition: $transition-hover;
                        
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        max-height: 19px;
                    }

                    &:hover .similarProductTitle {
                        text-shadow: $text-shadow-hover;
                    }
                
                    &:hover {
                        box-shadow: $box-shadow-hover;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .productCard {
        flex-direction: column;
        align-items: center;

        .blockImages {

            .productThumbnail {
                min-width: 200px;
                min-height: 200px;
            }
        }

        .productInfo {
            font-size: $font-size-medium-mobile;

            .similarProducts {

                .similarProductsList {
                    font-size: $base-font-size-mobile;
                }
            }
        }
    }
    
}