@import "/src/styles/_colors";
@import "/src/styles/_variables";

.commentFrom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 50px;

    .commentFormTitle {
        font-size: $font-size-h2-desc;
        font-weight: $base-font-weight-strong;
    }

    .formFields {
        display: flex;
        column-gap: 25px;
    }

    .errorPanel {
        color: $base-red;
        font-weight: $base-font-weight-strong;
    }
}

@media (max-width: 768px) {

    .commentFrom {
        font-size: $font-size-h1-mobile;

        .commentFormTitle {
            font-size: $font-size-h2-mobile;
        }
    }
}