@import "/src/styles/_colors";
@import "/src/styles/_variables";

.comments {

    .commentsTitle {
        font-size: $font-size-h2-desc;
        font-weight: $base-font-weight-strong;
        margin-bottom: 15px;
    }

    .commentsList {

        .comment {
            padding: 15px 15px 5px;
            border-bottom: 1px solid $base-black;
        }
    }
}

@media (max-width: 768px) {

    .comments {

        .commentsTitle {
            font-size: $font-size-h2-mobile;
        }
    }
}